@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #000;
  overflow-x: hidden;
}
.App {
  text-align: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hid{
  opacity:0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s ease-in-out;
}
.show{
  opacity:1;
  filter: blur(0);
  transform: translateX(0);
}
.items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
